extends layout

block content
  h1 Book List
  table.table
    thead
      tr
        th Title
        th Author
        th Genre
        th Action
    tbody
      each book in books
        tr
          td= book.title
          td= book.author.name
          td= book.genre.name
          td
            a(href=`/catalog/book/${book.id}`) View Details
