nav
  ul
    li
      a(href='/') Home
    li
      a(href='/catalog/books') Books
    li
      a(href='/catalog/books/create') Create
    li
      a(href='/catalog/authors') Authors
    li
      a(href='/catalog/genres') Genres
